# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"


# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias sniff='sudo ngrep -d "$WIFI_ADAPTER" -t "^(GET|POST) " "tcp and port 80"'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias remote_ip="dig +short myip.opendns.com @resolver1.opendns.com"

alias sudo='sudo '

alias diskuse='df -h | grep --color=never -e /dev/mapper/Vol -e Filesystem'
#alias ksp='primusrun /home/scott/KSP_linux/KSP.x86_64'
alias sl='sl -e'
alias LS='LS -e'
#alias sqlmap='python /opt/sqlmap/sqlmap.py'
#alias burpsuite='java -jar /opt/burpsuite_free_v1.6.jar'
alias mcgill='cd ~/Dropbox/Programming/McGill'
alias lessc='less -R'
alias play='mplayer -fs'
alias music='ncmpcpp'
alias vi='vim'
alias v='vim'
alias r='ranger'

#alias fuck='$(thefuck $(fc -ln -1))'

#alias sync_tc='rsync --progress -h  /home/scott/TC $PRIMARY:/home/scott/TC'

#alias muslrustc='/opt/rust-musl/musldist/bin/rustc --target=x86_64-unknown-linux-musl'
#alias rubber_fix="openout_any=a rubber --unsafe -c 'setlist arguments --shell-escape'"
alias tmp='cd `mktemp -d`'
alias dtmp='tmp="$(pwd)"; if [[ "$tmp" == "/tmp/"* ]]; then cd - 2>/dev/null || cd; rm -rf $tmp; else echo "$tmp not a temporary directory"; fi'
#alias bindgen='/home/scott/Programming/Rust/rust-bindgen/target/debug/bindgen'


# Config aliases
alias vimrc='vim ~/.vimrc'
alias i3conf='vim ~/.i3/config'
alias zshrc='vim ~/.zshrc'
alias conkyrc='vim ~/.conky/.conkyrc'
