[user]
	name = Scott Cooper
	email = scott@sacooper.io
[push]
	default = simple
[alias]
	lc = log ORIG_HEAD.. --stat --no-merges
	log1 = log --pretty=oneline -5
	unstage = reset HEAD --
	undo-commit = reset --soft HEAD~1
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
