priority -55

extends tex

snippet -> "single arrow" w
$\to$ 
endsnippet

snippet => "double arrow" w
$\Rightarrow$ 
endsnippet

snippet <-> "single left-right arrow" w
$\leftrightarrow$ 
endsnippet

snippet <=> "double left-right arrow" w
$\Leftrightarrow$ 
endsnippet

snippet ... "ellipses" w
\ldots 
endsnippet
