priority -55

extends tex

snippet -> "single arrow" b
$\to$
endsnippet

snippet => "double arrow" b
$\Rightarrow$
endsnippet

snippet <-> "single left-right arrow" b
$\leftrightarrow$
endsnippet

snippet <=> "double left-right arrow" b
$\Leftrightarrow$
endsnippet

snippet ... "ellipses" b
ldots
endsnippet
